.flexbox {
    display: flex;
    background-color: rgb(3, 247, 166);
    flex-direction: row;
      }

.flexbox{
    display: flex;
    background-color: rgb(17, 232, 160);
    flex-wrap: wrap-reverse;
      }