
  .options-single-choice {
    list-style-type: none;
    padding: 0;
    justify-content: space-between;
    margin-bottom: auto;
  }
  .option-single-choice {
    display: flex;
    flex-direction: column; /* Sắp xếp các đáp án theo chiều dọc */
    justify-content: center; /* Căn giữa các đáp án theo chiều dọc */
  }
  .options-single-choice .ant-radio-button-wrapper {
    margin-bottom: 10px; 
    width: 100%; 
    text-align: center;
  }
  .options-single-choice .ant-radio-button-wrapper {
    flex-grow: 2;
    text-align: center; 
  }
  
  .button-container {
    display: flex;
    justify-content: flex-end; 
    margin-top: 20px;
  }