/* style.css */
.option-single-choice {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* Đảm bảo chiếm toàn bộ chiều cao của cha */
}

/* Đảm bảo nội dung bên trong được căn giữa */
.option-single-choice .ant-radio-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}