
  .options-single-choice {
    list-style-type: none;
    padding: 0;
  }

  .option-single-choice {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 8px;
  }
  .option-single-choice:hover {
    background-color: hwb(0 97% 3% / 0.933);
  }

  .option-single-choice.selected {
    background-color: hsl(57, 98%, 47%); /* Màu nền khi đáp án được chọn */
  }
  