
.option-multiple-choice {
 

  cursor: pointer;

  border-radius: 8px;
}



 /* Căn giữa các checkbox với khung câu hỏi */
.option-multiple-choice .ant-checkbox-group {
  display: flex;
  flex-wrap: wrap; 
}

  /* Tùy chỉnh giao diện cho checkbox */
.ant-checkbox-wrapper {
  background-color: #fcfcfc; 
  padding: 8px;
  margin: auto;
}

/* Căn giữa các hàng của các checkbox */
.option-multiple-choice .ant-row {
  align-items: center; 
  flex-direction: row; /* Sắp xếp các đáp án theo chiều ngang */
}


/* Tùy chỉnh các đường viền của checkbox */
.ant-checkbox-wrapper {
  border: 1px solid #b3b3b3; /* Màu và kích thước đường viền */
  border-radius: 4px;
 
}


/* Tùy chỉnh màu sắc của checkbox khi được chọn */
.ant-checkbox-wrapper-checked {
  background-color: #ffcc00; 
}


.button-multipleChoice {
  display: flex;
  justify-content: flex-end; 
  margin-top: 10px;
}
