
    .options-multiple-choice {
      list-style-type: none;
      padding: 0;
    }
  
    .option-multiple-choice {
      margin-bottom: 10px;
      padding: 10px;
      border: 1px solid #ccc;
      cursor: pointer;
      transition: background-color 0.3s;
      border-radius: 8px;
    }
    .option-multiple-choice:hover {
      background-color: hsl(30, 97%, 49%);
    }
  
  
  
  