

.category-section {
    padding-top: calc(30px + (50 - 30) * ((100vw - 320px) / (1920 - 320))) !important;
  }
  
  .title {
    margin-bottom: calc(16px + (30 - 16) * ((100vw - 320px) / (1920 - 320)));
    display: inline-flex;
    position: relative;
  }
  
  .title h2 {
    font-weight: 700;
    color: #222;
    position: relative;
    font-family: "Public Sans", sans-serif;
  }
  
  .category-slider {
    position: relative;
    display: inline;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: calc(30px + (40 - 30) * ((100vw - 320px) / (1920 - 320)));
    height: calc(30px + (40 - 30) * ((100vw - 320px) / (1920 - 320)));
    background-color: #fff;
  }
  
  .slick-prev {
    width: calc(30px + (40 - 30) * ((100vw - 320px) / (1920 - 320)));
    height: calc(30px + (40 - 30) * ((100vw - 320px) / (1920 - 320)));
    background-color: #fff;
    -webkit-box-shadow: 0px 1px 4px rgba(34, 34, 34, 0.14);
    box-shadow: 0px 1px 4px rgba(34, 34, 34, 0.14);
    position: absolute !important;
    top: calc(-28px + (-43 - -28) * ((100vw - 320px) / (1920 - 320)));
    border-radius: 5px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    margin-top: 20px;
    margin-left: 600px;
  }
  
  .slick-next {
    width: calc(30px + (40 - 30) * ((100vw - 320px) / (1920 - 320)));
    height: calc(30px + (40 - 30) * ((100vw - 320px) / (1920 - 320)));
    background-color: #fff;
    -webkit-box-shadow: 0px 1px 4px rgba(34, 34, 34, 0.14);
    box-shadow: 0px 1px 4px rgba(34, 34, 34, 0.14);
    position: absolute !important;
    top: calc(-28px + (-43 - -28) * ((100vw - 320px) / (1920 - 320)));
    border-radius: 5px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    margin-top: 20px;
    margin-left: 650px;
  }
  
  .btn-slick {
    border: none;
    color: #0baf9a;
  }
  
  .slick-list {
    display: inline-flex;
    flex-direction: row;
    gap: 30px;
    margin-left: 40px;
  }
  
  .category-container {
    overflow: hidden;
  }
  
  .shop-category-box :hover {
    background-color: antiquewhite;
    width: 155px;
    padding-left: 0px;
    border-radius: 10px;
  }
  
  .category-name {
    position: relative;
    text-align: center;
    z-index: 0;
    margin: 16px auto 0;
  }
  
  .category-name h6 {
    transition: all 0.3s ease-in-out;
    margin: 0 auto;
    font-size: calc(13px + (15 - 13) * ((100vw - 320px) / (1920 - 320)));
    letter-spacing: 0.7px;
    line-height: 1.3;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    -webkit-line-clamp: 3;
    margin-bottom: 0;
    font-weight: 500;
    font-family: "Public Sans", sans-serif;
    font-weight: bold;
  }
  
  .btn-disable {
    background-color: #ccc !important;
    color: #999;
    cursor: not-allowed;
    pointer-events: none;
  }
  



  .d-none {
    display: none;
}









/*CSS responsive*/
@media (max-width: 700px) {
   
.d-none {
    display: none;
}

}
